<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/assets/functions.js" defer></script>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <a href="/" class="lang-logo">
      <img src="/mongo-logo.png">
    </a>
    <h1>Simple Restful App With NodeJS And MongoDB</h1>
   
  </div>
</div>
<div class="container">
  
  <hr class="separator">
  <div class="row" >
    <div class="col-md-12" >
        
      <div id="createdUserDiv">
        <h3><span class="glyphicon glyphicon-user"></span> CREATED USER!!</h3>          

      
        <div id="countDownText"></div>

      </div>
      
    </div><!--col-->   
        
     
     
  </div> <!-- row -->
 

  
</div><!--container-->



</body>
</html>
